.ail-btn {
  border: none;
  border: 1px solid transparent;
  background: transparent;
  border-radius: .3rem;
  padding: 0.4rem 1rem;
  cursor: pointer;
  text-align: center;
  font-size: 1rem;
}

.ail-btn:hover {
  opacity: .95;
}

/* Default */

.ail-btn--default {
  color: var(--bg-default);
  border-color: var(--bg-default);
  transition: .1s ease-in all;
}

.ail-btn--default:hover {
  color: var(--bg-default-alt);
  border-color: var(--bg-default);
  background: var(--bg-default);
}

/* Primary */

.ail-btn--primary {
  color: var(--bg-primary);
  border-color: var(--bg-primary);
  transition: .1s ease-in all;
}

.ail-btn--primary:hover {
  color: var(--bg-primary-alt);
  border-color: var(--bg-primary);
  background: var(--bg-primary);
}

/* Success */

.ail-btn--success {
  color: var(--bg-success);
  border-color: var(--bg-success);
  transition: .1s ease-in all;
}

.ail-btn--success:hover {
  color: var(--bg-success-alt);
  border-color: var(--bg-success);
  background: var(--bg-success);
}

/* Disabled */

.ail-btn.disabled,
.ail-btn[disabled] {
  opacity: .8;
  pointer-events: none;
}

/* Button list */

.ail-btn-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.ail-btn-list .ail-btn {
  border: none;
  border-radius: 0;
  color: var(--bg-default-alt);
  background: var(--bg-default);
}