.ail-dropdown {
  position: relative;
}

.ail-dropdown .ail-dropdown-toggle {
  cursor: pointer;
  user-select: none;
}

.ail-dropdown > input[type=checkbox],
.ail-dropdown .ail-dropdown-content {
  display: none;
}

.ail-dropdown input[type=checkbox]:checked ~ .ail-dropdown-content {
  display: block;
  position: absolute;
}

.ail-dropdown--floating input[type=checkbox]:checked ~ .ail-dropdown-content {
  transform: translateX(-100%);
  left: 100%;
}