
.ail-toggle .ail-btn {
  background: var(--bg-danger);
  color: var(--bg-danger-alt);
  display: block;
}

.ail-toggle--on .ail-btn,
.ail-toggle input[type=checkbox]:checked ~ .ail-btn {
  background: var(--bg-success);
  color: var(--bg-success-alt);
}
