.ait {
  background-color: var(--bg-darkest);
  color: var(--bg-darkest-alt);
  height: 100%;
  width: 100%;
  display: flex;
}

.ail-container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.ail-body {
  flex: 1 1 auto;
  padding: 0 4rem 1rem;
  overflow-y: auto;
  height: 100%;
}

.ail-header,
.ail-footer {
  flex: 1 0 auto;
}

@media screen and (max-width: 767px) {
  .ail-body {
    padding: 0 1rem;
  }
}

.ail-footer {
  display: flex;
}