.ait-sidebar {
    width: 0;
    visibility: hidden;
    opacity: 0;
}

.ait--sidebar-open .ait-sidebar {
    visibility: visible;
    opacity: 1;
    transition: .2s width cubic-bezier(0.48, -0.07, 0.56, 0.7), .2s opacity cubic-bezier(0.48, -0.07, 0.56, 0.7);
    flex: 0 0 auto;
    width: 20rem;
    padding: 1rem;
    box-shadow: inset 3px 1px 14px 0px rgba(0, 0, 0, 0.32);
    background: var(--bg-secondary);
    overflow-y: auto;
}

@media screen and (max-width: 991px) {
    .ait--sidebar-open .ait-sidebar {
        flex: 0 1 90%;
    }
    .ait--sidebar-open .ait-title {
        transform: rotate(-90deg);
    }
    .ait--sidebar-open .ait-header {
        padding: 0;
    }
    
    .ait--sidebar-open .ait-container {
        flex: 1 0 0;
    }

    .ait--sidebar-open .ait-body,
    .ait--sidebar-open .ait-footer,
    .ait--sidebar-open .ait-footer-status {
        display: none;
    }
    .ait--sidebar-open .ait-credentials-menu {
        position: fixed;
        top: 1.3rem;
        left: 1rem;
    }
}

@media screen and (max-width: 767px) {
    .ait--sidebar-open .ait-sidebar {
        flex: 0 1 95%;
    }
    
    .ait--sidebar-open .ait-title {
        visibility: hidden;
        width: 4rem;
    }
}

.ait-credentials-menu .ait-dropdown-content {
    background: var(--bg-dark);
    border-radius: 3px;
    min-width: 18rem;
    padding: .5rem;
}

.ait-credentials-section>label {
    padding-top: .5rem;
    padding-bottom: .2rem;
    display: block;
}

@media screen and (max-width: 480px) {
    .ait-credentials-menu .ait-dropdown-toggle {
        text-align: center;
        width: 100%;
        display: block;
    }
    .ait-credentials-menu.ait-dropdown input[type=checkbox]:checked~.ait-dropdown-content {
        left: 0;
        transform: none;
        width: auto;
        position: relative;
    }
}