.ait-credentials-menu .ait-dropdown-content {
    background: var(--bg-dark);
    border-radius: 3px;
    min-width: 18rem;
    padding: .5rem;
}
  
.ait-credentials-section > label  {
    padding-top: .5rem;
    padding-bottom: .2rem;
    display: block;
}

@media screen and (max-width: 480px) {
    .ait-credentials-menu .ait-dropdown-toggle {
        text-align: center;
        width: 100%;
        display: block;
    }
  
    .ait-credentials-menu.ait-dropdown input[type=checkbox]:checked ~ .ait-dropdown-content {
        left: 0;
        transform: none;
        width: auto;
        position: relative;
    }
}