.ail-log {
  font-family: 'Courier New', Courier, monospace;
}

.ail-log_line {
  display: flex;
}

@media screen and (max-width: 767px) {
  .ail-log_line {
      flex-direction: column;
      padding-bottom: 1rem;
  }
}

.ail-log_line-time {
  padding-right: 1rem;
  color: lime;
  flex: 0 1 auto;
  white-space: nowrap;
}

.ail-log_line-message {
  flex: 1 0 0;
  white-space: pre-line;
  word-break: break-all;
}

.ail-log_line--error .ail-log_line-message,
.ail-log_line--critical .ail-log_line-message {
  color: red;
}

.ail-log_line--warning .ail-log_line-message {
  color: yellow;
}

.ail-log_line--verbose .ail-log_line-message {
  color: lime;
  font-style: italic;
}