.ail-footer-status {
  flex-flow: column;
  font-family: 'Courier New', Courier, monospace;
  font-size: .8rem;
  border-top: 1px solid var(--border-dark);
  display: flex;
  justify-content: space-between;
}

.ail-footer-status-item {
  padding: 0 0.5rem;
}

.ail-footer-status--timestamp {
  background: green;
  flex: 1 0 auto;
}

.ail-footer-status--error {
  background: red;
  font-style: italic;
  padding: .5rem;
}