.ail-footer-status {
  font-family: 'Courier New', Courier, monospace;
  font-size: .8rem;
  border-top: 1px solid var(--border-dark);
  display: flex;
  justify-content: space-between;
}

.ail-footer-status-item {
  padding: 0 0.5rem;
}

.ail-footer-status--timestamp {
  background: green;
  flex: 1 0 auto;
}

.ail-footer-status--error {
  background: red;
}

@media screen and (max-width: 767px) {
  .ail-footer-status {
      flex-flow: column;
  }
}