body {
  background-color: #222;
  color: white;
}

.ait-top {
  background-color: #222;
  position: fixed;
  width: 100%;
}

.ait-header {
  font-size: 1.2rem;
  padding: 1.3rem 4rem;
  display: flex;
  justify-content: space-between;
}

.ait-title {
  padding-right: 2rem;
}

.ait-body {
  padding: 5rem 4rem;
}

.ait-log {
  font-family: 'Courier New', Courier, monospace;
}

.ait-log_line-time {
  padding-right: 1rem;
  color: lime;
}

.ait-log_line--error .ait-log_line-message,
.ait-log_line--critical .ait-log_line-message {
  color: red;
}

.ait-log_line--warning .ait-log_line-message {
  color: yellow;
}