.ait {
  --bg-darkest: #222;
  --bg-dark: #363837;
  --bg-secondary: #666;
  --border-dark: rgba(102, 102, 102, 0.3);

  background-color: var(--bg-darkest);
  color: white;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.ait-body {
  flex: 1 1 auto;
  padding: 0 4rem 1rem;
  overflow-y: auto;
  height: 100%;
}

.ait-header,
.ait-footer {
  flex: 1 0 auto;
}

.ait-header {
  font-size: 1.2rem;
  padding: 1.3rem 4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid var(--border-dark);
}

.ait-footer-status {
  font-family: 'Courier New', Courier, monospace;
  font-size: .8rem;
  border-top: 1px solid var(--border-dark);
  display: flex;
  justify-content: space-between;
}

.ait-footer-status-item {
  padding: 0 0.5rem;
}

.ait-footer-status--timestamp {
  background: green;
  flex: 1 0 auto;
}

.ait-footer-status--error {
  background: red;
}

@media screen and (max-width: 767px) {
  .ait-header {
    flex-direction: column;
  }
  
  .ait-header {
    padding: 1.3rem 1rem;
  }

  .ait-body {
    padding: 0 1rem;
  }
}

@media screen and (max-width: 480px) {
  .ait-credentials-menu .ait-dropdown-toggle {
    text-align: center;
    width: 100%;
    display: block;
  }

  .ait-credentials-menu.ait-dropdown input[type=checkbox]:checked ~ .ait-dropdown-content {
    left: 0;
    transform: none;
    width: auto;
    position: relative;
  }
}

.ait-footer {
  display: flex;
}

.ait-title {
  color: white;
  text-decoration: none;
}

.ait-query {
  border: none;
  padding: 1rem;
  height: 2rem;
  width: 100%;
  resize: none;
}

.ait-search {
  max-width: 10rem;
  width: 20%;
  border: none;
  background: var(--bg-secondary);
  font-size: 1.2rem;
  color: white;
  cursor: pointer;
}

.ait-search:hover {
  opacity: .95;
}

.ait-input {
  padding: .5rem;
  width: 100%;
  box-sizing: border-box;
  border: none;
  border-bottom: 1px solid;
}

.ait-credentials-menu .ait-dropdown-content {
  background: var(--bg-dark);
  border-radius: 3px;
  min-width: 18rem;
  padding: .5rem;
}

.ait-credentials-section > label  {
  padding-top: .5rem;
  padding-bottom: .2rem;
  display: block;
}
