.ait {
  background-color: #222;
  color: white;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.ait-body {
  flex: 1 1 auto;
  padding: 0 4rem;
  overflow-y: auto;
  height: 100%;
}

.ait-header,
.ait-footer {
  flex: 1 0 auto;
}

.ait-header {
  font-size: 1.2rem;
  padding: 1.3rem 4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid rgba(102, 102, 102, 0.3);
}

@media screen and (max-width: 767px) {
  .ait-header {
    flex-direction: column;
  }
  
  .ait-header {
    padding: 1.3rem 1rem;
  }

  .ait-body {
    padding: 0 1rem;
  }
}

@media screen and (max-width: 380px) {
  .api-credentials {
    flex-direction: column;
  }

  .api-credentials input {
    flex: 1 0 auto;
    width: 100%;
  }
}

.ait-footer {
  display: flex;
}

.ait-title {
  color: white;
  text-decoration: none;
  padding-right: 2rem;
}

.ait-query {
  border: none;
  padding: 1rem;
  height: 2rem;
  width: 100%;
  resize: none;
}

.ait-search {
  max-width: 10rem;
  width: 20%;
  border: none;
  background: #666;
  font-size: 1.2rem;
  color: white;
  cursor: pointer;
}

.ait-search:hover {
  background: #777;
}

.api-credentials {
  display: flex;
  flex: 1 1 0;
  justify-content: flex-end;
}

.api-credentials input {
  border: none;
  padding: .5rem;
  margin: .1rem;
  min-width: 35%;
}