.ail-sidebar {
  width: 0;
  visibility: hidden;
  opacity: 0;
}

.ail--sidebar-open .ail-sidebar {
  visibility: visible;
  opacity: 1;
  transition: .2s width cubic-bezier(0.48, -0.07, 0.56, 0.7), .2s opacity cubic-bezier(0.48, -0.07, 0.56, 0.7);
  flex: 0 0 auto;
  width: 20rem;
  padding: 1rem;
  box-shadow: inset 3px 1px 14px 0px rgba(0, 0, 0, 0.32);
  background: var(--bg-secondary);
  overflow-y: auto;
}

@media screen and (max-width: 991px) {
  .ail--sidebar-open .ail-header-title {
    transform: rotate(-90deg);
  }

  .ail--sidebar-open .ail-sidebar {
    flex: 0 1 90%;
  }

  .ail--sidebar-open .ail-header {
    padding: 0;
  }

  .ail--sidebar-open .ail-container {
    flex: 1 0 0;
  }

  .ail--sidebar-open .ail-body,
  .ail--sidebar-open .ail-footer,
  .ail--sidebar-open .ail-footer-status,
  .ail--sidebar-open .ail-header-app_name {
    display: none;
  }
  .ail--sidebar-open .ail-account-menu {
    position: fixed;
    top: 1.3rem;
    left: 1rem;
  }
}

@media screen and (max-width: 767px) {
  .ail--sidebar-open .ail-sidebar {
    flex: 0 1 95%;
  }

  .ail--sidebar-open .ail-header-title {
    visibility: hidden;
    width: 4rem;
  }
}

.ail-account-menu .ail-dropdown-content {
  background: var(--bg-dark);
  border-radius: 3px;
  min-width: 18rem;
  padding: .5rem;
}

.ail-account-section>label {
  padding-top: .5rem;
  padding-bottom: .2rem;
  display: block;
}

@media screen and (max-width: 480px) {
  .ail-account-menu .ail-dropdown-toggle {
    text-align: center;
    width: 100%;
    display: block;
  }
  .ail-account-menu.ail-dropdown input[type=checkbox]:checked~.ail-dropdown-content {
    left: 0;
    transform: none;
    width: auto;
    position: relative;
  }
}